
$sc-blog-regular-font-family: $sc-font-family;
$sc-blog-regular-font-size: 18px;
$sc-blog-regular-letter-spacing: 0;
$sc-blog-regular-line-height: 30px;
$sc-blog-regular-text-ident: 25px;
$sc-blog-regular-font-color: $sc-color-copy;


$sc-blog-h1-font-family: $sc-blog-regular-font-family;
$sc-blog-h1-font-size: 50px;
$sc-blog-h1-font-weight: $sc-font-weight-semibold;
$sc-blog-h1-letter-spacing: -0.5px;
$sc-blog-h1-line-height: 70px;
$sc-blog-h1-font-color: $sc-color-theme-700;


$sc-blog-h2-font-family: $sc-blog-regular-font-family;
$sc-blog-h2-font-size: 35px;
$sc-blog-h2-font-weight: $sc-font-weight-semibold;
$sc-blog-h2-letter-spacing: 0;
$sc-blog-h2-line-height: 45px;
$sc-blog-h2-font-color: $sc-color-theme-700;

$sc-blog-h3-font-family: $sc-blog-regular-font-family;
$sc-blog-h3-font-size: 25px;
$sc-blog-h3-font-weight: $sc-font-weight-semibold;
$sc-blog-h3-letter-spacing: 0;
$sc-blog-h3-line-height: 35px;
$sc-blog-h3-font-color: $sc-color-theme-700;

$sc-blog-h4-font-family: $sc-blog-regular-font-family;
$sc-blog-h4-font-size: 20px;
$sc-blog-h4-font-weight: $sc-font-weight-light;
$sc-blog-h4-letter-spacing: 0;
$sc-blog-h4-line-height: 30px;
$sc-blog-h4-font-color: $sc-color-theme-700;

$sc-blog-h5-font-family: $sc-blog-regular-font-family;
$sc-blog-h5-font-size: 15px;
$sc-blog-h5-font-weight: $sc-font-weight-light;
$sc-blog-h5-letter-spacing: 0;
$sc-blog-h5-line-height: $sc-blog-regular-line-height;
$sc-blog-h5-font-color: $sc-color-theme-700;

$sc-blog-h6-font-family: $sc-blog-regular-font-family;
$sc-blog-h6-font-size: 11px;
$sc-blog-h6-font-weight: $sc-font-weight-light;
$sc-blog-h6-letter-spacing: 0;
$sc-blog-h6-line-height: $sc-blog-regular-line-height;
$sc-blog-h6-font-color: $sc-color-theme-700;


$sc-blog-dummy-content-color:#f4f4f4;
$sc-blog-dummy-content-contrasted-color:#dddddd;
