// Section Headings
$sc-blog-home-section-heading-font-weight: 600;
$sc-blog-home-section-heading-border-color: $sc-blog-home-section-heading-font-color;

// Navigation
$sc-blog-home-navigation-border: 1px solid #979797;

//Empty State
$sc-blog-home-empty-state-label-color: $sc-color-copy-dark;
$sc-blog-home-empty-state-message-color: $sc-color-copy-dark;
$sc-blog-home-suggestion-title-color: $sc-color-copy-dark;
$sc-blog-home-suggestion-message-color: $sc-color-copy-dark;
