$sc-blog-post-search-title-color: $sc-color-copy-dark;
$sc-blog-post-search-input-border-color: #CED4DA;
$sc-blog-post-search-input-border-radius: 4px;
$sc-blog-post-search-suggestion-title-color: $sc-color-copy-dark;
$sc-blog-post-search-suggestion-message-color: $sc-color-copy-dark;
