$sc-blog-pagination-title-color: $sc-color-copy;
$sc-blog-pagination-button-separator: '-';
$sc-blog-pagination-button-font-color: $sc-color-link;
$sc-blog-pagination-button-font-weight: 300;
$sc-blog-pagination-active-button-font-color: $sc-color-link;
$sc-blog-pagination-active-button-font-weight: 900;
